<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Socket.IO</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Chat</h1>
    <ul id="messages"></ul>
    <form id="messageForm1" action="">
      <input type="text" id="messageInput" autocomplete="off" />
      <button type="submit">Send</button>
    </form>
  </body>
  <script
    src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
